.orange {
    background-color: #F3801A;
    width: 100%;
    height: 40px;
}

.orange-slanted {
    background-color: #F3801A;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(-10deg);
    z-index: 1;
    width: 85.4%;
    height: 40px;
    box-shadow: 2px 2px 8px 0px #00000091;
}

.white {
    background: #FFFBF5;
    width: 100%;
    height: 244px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    position: relative;
}

.white-slanted {
    background-color: #FFFBF5;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(-10deg);
    z-index: 1;
    width: 85%;
    height: 244px;
    position: absolute;
    box-shadow: 2px 2px 8px 0px #00000091;
    left: 0;
}

.green {
    background-color: #90BC45;
    width: 100%;
    height: 40px;
}

.green-slanted {
    background-color: #90BC45;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(-10deg);
    z-index: 1;
    width: 82.2%;
    height: 40px;
    box-shadow: 2px 2px 8px 0px #00000091;
}

.table-container {
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 25px;
    width: 70%;
}

table {
    font-family: "Outfit", sans-serif;
    border-collapse: collapse;
    width: 100%;
    
    border-collapse: collapse;
    
  }

  table, tr, td {
    border: none;
}
  
  td, th {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background: linear-gradient(90deg, rgba(95, 143, 237, 0.47) 0%, rgba(54, 82, 135, 0) 100%);

  }
  
  tr:nth-child(odd) {
    background-color: transparent;
  }

  .anchor {
    margin-top: 10px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }

  .news {
    margin: 20px;
    width: 100%;
  }

  .news-title {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30.24px;
    color: #17215C;
    width: 100%;
  }
