.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0px 2px 5px 0px #0000002b;
}

.navbar-group-desktop {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 50%;
}

.navbar-item, .navbar-item-active {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.navbar-item-active::after {
    content: " ";
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, rgba(180, 200, 144, 0.2) 0%, #779C36 100%);
    display: block;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.olympics-sub {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.olympic-banner {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.olympics-title {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.navbar-group-mobile {
    display: none;
}

.nav-sidesheet {
    width: 100vw;
    height: 100%;
    position: fixed;
    background-color: lightgray;
    z-index: 100;
    padding-top: 12px;
}

@media screen and (max-width: 480px) {
    .navbar-group-mobile {
        display: block;
    }

    .navbar-group-desktop {
        display: none;
    }

    .navbar-item, .navbar-item-active {
        margin-bottom: 2px;
        background-color: white;
        padding: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-item-active::after {
        display: none;
    }

    .olympic-banner {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .olympics-title {
        font-family: "Outfit", sans-serif;
        font-weight: 500;
        font-size: 22px;
    }

    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }
    
  }

